body{
  font-family: 'Times New Roman', Times, serif;
}
a{
  text-decoration: none;
}

.nav-bar {
  display:flex;
  padding-top:20px;
  top: 0;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  z-index: 10;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(207, 206, 206);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.nav-bar-logo-div{
  margin-right: 200px;
}
.nav-bar-logo{
  height:50px;
}

.profile-icon{
  height:20px;
}

.anchor-div{
  display:flex;
  gap:40px;
  color:gray;
}

.nav-bar button{
  background-color:darkcyan;
  color:white;
  border:none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right:-120px;
}

.menu-icon{
  display:none;
}


/* For mobile phones */
@media screen and (max-width:768px) {
  .nav-bar {
    display:flex;
    position:relative;
    padding-top:0px;
    top: 0;
    height:70px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-around;
    position: fixed;
  }
  
  .nav-bar-logo-div{
    position: absolute;
    top:10px;
    left:20px;
  }
  .nav-bar-logo{
    height:45px;
  }
  
  .profile-icon{
    height:20px;
    position: absolute;
    top:25px;
    right:70px;
  }
  
  .anchor-div{
    display: none;
  }
  
  .nav-bar button{
    display: none;
  }

  .menu-icon{
    display:flex;
    flex-direction: column;
    position: absolute;
    top:25px;
    right:30px
  }
}




