.massage-option-block{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  align-items: center;
  text-align: center;
}

.inside-massage{
  margin-top:100px;
  width: 70%;
}

.all-massage-types{
  margin-top: 50px;
  margin-bottom: 50px;
  display:flex;
  justify-content: space-around;
}

.massage-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:22%;
}

.all-massage-types-2{
  margin-top: 50px;
  margin-bottom: 50px;
  display:flex;
  justify-content: center;
}

.massage-type-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:22%;
  margin-right: 25px;
}

@media screen and (max-width:767px) {
  .massage-option-block{
    margin-left: 30px;
    margin-right: 30px;
  }

  .inside-massage{
    margin-top:25px;
    width:100%;
  }

  .all-massage-types{
    margin-top: 10px;
    margin-bottom: 0px;
    flex-direction: column;
    align-items: center;
  }
  
  .massage-type{
    width:100%;
    margin-bottom: 30px;
  }

  .all-massage-types-2{
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    align-items: center;
  }

  .massage-type-2{
    width:100%;
    margin-bottom: 30px;
    margin-right:0px ;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .massage-option-block{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
  }

  .inside-massage{
    margin-top:50px;
    width: 100%;
  }

  .all-massage-types{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 40% 40%;
  }

  .massage-type{
    width:100%;
    margin-bottom: 50px;
  }

  .all-massage-types-2{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
  }

  .massage-type-2{
    width:100%;
    margin-top: -100px;
    margin-bottom: 50px;
    margin-right: 0px;
  }
}