.rating-block{
  margin-top:100px;
  background-color: rgb(252, 235, 215);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
}

.inside-rating{
  margin-top:100px;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checked{
  color:rgb(6 182 212);
}

.unchecked{
  color:grey;
}

@media screen and (max-width:767px){
  .rating-block{
    margin-top:40px;
    padding-bottom: 80px;
  }

  .inside-rating{
    margin-top:10px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-info{
    flex-direction: column;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .rating-block{
    margin-top:50px;
    padding-bottom: 100px;
  }
}